body {
    font-family: 'Roboto', sans-serif;
}

h1, p {
    margin: 0;
}

header {
    margin-bottom: 20px;
}

.container {
    width: 100%;
    text-align: center;
}

#search > #location, #search > #searchBtn {
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: 2px solid royalblue;
}

#location {
    border-radius: 2px 0;
}

#searchBtn {
    color: white;
    font-weight: bold;
    background-color: royalblue;
    border-radius: 0 2px;
    margin-left: -9px;
    transition: 0.1s linear all;
}

#searchBtn:hover {
    cursor: pointer;
    background-color: #3656ba;
}

#results {
    margin-top: 10px;
}